$max-width-1600: 'max-width: 1600px';
$max-width-1260: 'max-width: 1260px';
$max-width-1110: 'max-width: 1110px';
$max-width-900: 'max-width: 900px';
$max-width-736: 'max-width: 736px';
$max-width-500: 'max-width: 500px';